<mat-progress-bar 
        style="padding: 2px 0 8px 0; margin-top: -4px !important; width: 100%" color="warn" mode="query"         
        [style.opacity]="loading ? 1 : 0" *ngIf="loading"></mat-progress-bar>


<div style="background-color: white;">
    <button type="button" mat-stroked-button color="warn" (click)="onDownloadFile()" style="margin-right: 30px; margin-left: 5px;">
        <mat-icon>arrow_downward</mat-icon>&nbsp;Download
    </button>

    <mat-checkbox color="accent" name="analysis" [(ngModel)]="isAnalyzed" (change)="perform_analysis()" style="margin-right: 30px;">Plot Analysis</mat-checkbox>
    <!-- <mat-checkbox color="primary" name="smooth" [(ngModel)]="isSmooth" (change)="perform_analysis()">Smooth</mat-checkbox> -->

    <span style="margin-right: 8px;">Smooth Signal</span>
    <mat-slider
        max="10"
        min="0"
        step="0.5"
        [(ngModel)]="value"
        [vertical]="false"
        (change)="onSmoothValueChange()">
    </mat-slider>

    <span style="margin-left: 25px; margin-right: 8px;">Zoom Pane</span>
    <mat-slider
        name="width-zoom"
        [max]="10"
        [min]="1"
        [step]="1"
        [(ngModel)]="widthVal"
        (change)="onChangeWidth()">
    </mat-slider>

    <div #chart id="chartID" class="channel-container"></div>
</div>