<div fxLayout="row wrap" style="border: 2px solid #686868; border-radius: 4px">
  <div
    fxFlex="100"
    fxLayoutAlign="start center"
    style="padding-left: 1.25em; height: 30px; background: #686868"
  >
   <span style='font-size:1.5em'>{{config.topTitle}}</span>
  </div>

  <div fxFlex="100" fxLayout="row wrap" class="p-12">
    <div fxFlex="100" fxLayoutAlign="space-between center">
      <span style="font-size: 1.2em">{{config.subTitle}}</span>
      <chi-search></chi-search>
    </div>

    <div fxFlex="100" fxLayout="column" class="chi-custom-table mt-12">
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      <table fxFlex="100" style="border-radius: 0.5em">
        <thead>
          <tr>
            <th *ngFor="let item of config.columns" style="margin-top: 8px">{{item.name}}</th>
          </tr>
          <tr>
            <th *ngFor="let item of config.columns" style="height: 40px !important">
              <input [name]="item.name" (keydown.enter)="onColumnSearch(item.key,$event)" style="border-radius: 0.4em;" matInput/>
            </th>
          </tr>
        </thead>
        <tr
          *ngFor="let row of data; let even = even; let odd = odd"
          [class.even]="even"
          [class.odd]="odd"
        >
          <td
            *ngFor="let col of config.columns"
            class="column"
            (click)="onRowClick(row)"
            [class.selected]="selectedRow === row"
          >
            {{ row[col.key] }}
          </td>
        </tr>
      </table>
    </div>

    <div fxFlex="100" fxLayoutAlign="end" class="mt-12">
      <button mat-flat-button color="primary">Select</button>
    </div>
  </div>
</div>
