.chi-custom-table{
    border-radius: 0.5em;
    table {
    border: 2px solid #686868;
    border-collapse: collapse;
    text-align: center;
    height: 40%;
    }
    
    th {
        background: #686868;
        border: 2px solid #686868;
        border-collapse: collapse;
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        align-items: center;
        letter-spacing: 0.5px;
    }

    .even
    {
        background-color: transparent;
    }
    
    .odd {
        background-color: #3b404d;
    }

    .column{
        padding: 0.5em;
        height: 28px;
    }
}

input {
    text-align: left;
    padding-left: 4px;
    width: 70%;
    height: 30px;
    background: #444958;
}

mat-form-field {
    height: 25px !important;
}

.search-field .mat-form-field-wrapper {
    padding: 0 !important;
    margin: 0 !important;
  }

.selected {
    background: #b1b1b1;
}
