<div fxFlex="100" fxLayout="column">
    <div fxFlex="10" fxLayoutAlign="center">
        <h3 fxFlex="90" class="form-header"> New Inventory</h3>
    </div>
    <div fxFlex="90" fxLayoutAlign="center">
        <div fxFlex="80" fxLayout="column">
            <form [formGroup]="theForm" fxLayout="row wrap" fxLayoutAlign="space-between">

                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Bar Code</mat-label>
                    <input matInput type="text" formControlName="barcode"/>
                </mat-form-field>
        
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="inventory_name"/>
                </mat-form-field>
        
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Manufacturer</mat-label>
                    <chi-select [field]="manufacturerId"></chi-select>
                </mat-form-field>
        
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Purchase Unit</mat-label>
                    <chi-select [field]="purchaseUnitId"></chi-select>
                </mat-form-field>
        
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Selling Unit</mat-label>
                    <chi-select [field]="sellingUnitId"></chi-select>
                </mat-form-field>
        
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Storage Unit</mat-label>
                    <chi-select [field]="storageUnitId"></chi-select>
                </mat-form-field>
        
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Purchase to Storage</mat-label>
                    <input matInput type="number" formControlName="purchase_to_storage"/>
                </mat-form-field>
        
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Storage to Selling</mat-label>
                    <input matInput type="number" formControlName="storage_to_selling"/>
                </mat-form-field>
        
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Expiry Date Enabled</mat-label>
                    <mat-select formControlName="is_expiry_date_enabled">
                      <mat-option [value]="true"> Yes </mat-option>
                      <mat-option [value]="false"> No </mat-option>
                    </mat-select>
                </mat-form-field>
        
                <div fxFlex="30" fxLayoutAlign="start center">
                <mat-checkbox  formControlName="is_narcotics"
                  >Narcotics</mat-checkbox>
                </div>
        
                <div fxFlex="30" fxLayoutAlign="start center">
                <mat-checkbox  formControlName="lasa"
                  >LASA</mat-checkbox>
                </div>
        
                <div fxFlex="30" fxLayoutAlign="start center">
                <mat-checkbox  formControlName="is_fridge_item"
                  >Fridge Item</mat-checkbox>
                </div>
        
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Inventory Type</mat-label>
                    <input matInput type="text" formControlName="inventory_type"/>
                </mat-form-field>
        
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Remarks</mat-label>
                    <input matInput type="text" formControlName="remarks"/>
                </mat-form-field>
        
                <chi-n2n-select fxFlex="30" [showAll]="true" [field]="formulas"></chi-n2n-select>

                <chi-n2n-select fxFlex="30" [showAll]="false" [field]="labels"></chi-n2n-select>

            </form>
            <div fxFlex="10" fxLayout="row">
                <div fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="end center">
                    <button mat-raised-button (click)="onSave()" color="primary">Save</button>
                    <button mat-stroked-button (click)="onClear()" color="primary">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

