<div fxFlex = "100" fxLayout = "column">
    <mat-card fxLayout="column" fxFlex="100" style="height:100%">
        <chi-general-page fxFlex [config]="config"></chi-general-page>
    </mat-card>

</div>