<!-- <form > -->
    <mat-form-field fxFlex="100" appearance="outline">
        <mat-label>Select Birth Date</mat-label>
        <chi-date-picker [field]="date">
        </chi-date-picker>

    </mat-form-field>
<!-- </form> -->