<div>
  <form [formGroup]="cFormGroup">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <mat-form-field appearance="outline">
        <input
          style="width: 400px !important"
          matInput
          type="text"
          [formControl]="cFormGroup.controls.fname1"
        />
        <mat-label>First Name</mat-label>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          style="width: 400px !important"
          matInput
          type="text"
          value="{{ selectedPerson.last_name }}"
          [formControl]="cFormGroup.controls.lname"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input
          style="width: 400px !important"
          matInput
          type="number"
          [formControl]="cFormGroup.controls.age"
        />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="end end">
      <button
        style="width: 400px !important"
        mat-raised-button
        color="primary"
        (click)="onSave()"
        [disabled]="cFormGroup.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
