@import "scss/fuse";

:host {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-width: 0;
}

.call-dialog
{
    position: absolute;
    bottom: 0;
    left: 0;
}

.escalation-form
{
    top: 4%;
    min-height: 500px;
    z-index: 1000;
    width: 560px;
    position: absolute;
    left: 30%;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 
        0px 24px 38px 3px rgba(0, 0, 0, 0.14), 
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    background: white;
}
