<div fxFlex="100" fxLayout="column">
  <div fxFlex="10" fxLayout="row">
    <div
      fxFlex="100"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="pl-32 pr-32"
    >
      <div fxFlex="50" fxLayoutAlign="start start">
        <mat-icon>file</mat-icon>
        <h2>Stores - Define Units</h2>
      </div>
      <div fxFlex="50" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button mat-icon-button><mat-icon>autorenew</mat-icon></button>
        <button mat-icon-button>
          <mat-icon color="primary">zoom_out_map</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div fxFlex="90" fxLayout="row" fxLayoutAlign="space-around">
    <div fxFlex="30" fxLayout="column">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
        class="pl-32 pr-32"
      >
        <div style="font-size:1em;" class="form-header" fxFlex="100" fxLayoutAlign="start center">Store Details</div>
        <form fxFlex="100" class="form-cont" [formGroup]="stores" fxLayout="row wrap">
          <mat-form-field class="units" fxFlex="100" appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput type="text" formControlName="description" />
          </mat-form-field>

          <mat-form-field
            class="inventory-field"
            fxFlex="100"
            appearance="outline"
          >
            <mat-label>Default Option</mat-label>
            <mat-select formControlName="is_default">
              <mat-option [value]="true"> Yes </mat-option>
              <mat-option [value]="false"> No </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <div fxFlex="90" fxLayoutAlign="start" fxLayoutGap="15px">
          <button mat-raised-button (click)="Save()" color="primary">
            Save
          </button>
          <button mat-stroked-button mat-button color="primary">Clear</button>
        </div>
      </div>
    </div>
    <div fxFlex="60">
      <chi-table-custom
        [config]="tableConfig"
        [signals]="actions"
      ></chi-table-custom>
    </div>
  </div>
</div>

