<div class="container">
    <h1>{{config.title}}</h1>
    <div>
        <mat-divider></mat-divider>
    </div>

    <form [formGroup]="theForm" class="form">
        <ng-container *ngFor="let field of config.fields;">
            <ng-container [ngSwitch]="field.type">
                <ng-container *ngSwitchCase="'date'">
                    <mat-form-field appearance="outline" class="field" >
                        <mat-label>{{field.title}}</mat-label>
                        <input matInput (dateChange)="onDateChange($event, theForm.controls[field.name])" 
                            [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                        <mat-error *ngIf="theForm.get(field.name).invalid">
                            <div *ngIf="theForm.get(field.name).errors.required">
                                {{field.title}} is required.
                            </div>
                        </mat-error>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'radio'">
                    <mat-radio-group [formControlName]="field.name" class="radio-button">
                        <mat-radio-button [value]="opt" *ngFor="let opt of field.options">
                            {{opt}}
                        </mat-radio-button>
                      </mat-radio-group>
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <mat-form-field appearance="outline" class="field" >
                        <mat-label>{{field.title}}</mat-label>
                        <input [type]="field.type" matInput 
                            [placeholder]="field.placeholder" 
                            [formControlName]="field.name">
                        <mat-error *ngIf="theForm.get(field.name).invalid">
                            <div *ngIf="theForm.get(field.name).errors.required">
                                {{field.title}} is required.
                            </div>
                        </mat-error>
                    </mat-form-field>
                </ng-container>
            </ng-container>
        </ng-container>
    </form>
    
    <div class="form-actions">
        <button mat-raised-button color="warn" (click)="onReset()" class="btn-reset">Reset</button>
        <button mat-raised-button color="primary" (click)="onSave()" [disabled]="theForm.invalid">Save</button>
    </div>
</div>