<div fxLayout="row wrap" fxFlex="100">
  <div fxFlex="100">
    <mat-form-field
      fxFill
      appearance="outline"
      style="height: 50px; margin-right: 10px"
    >
      <chi-select [field]="field" (selected)="onSelectSpeciality($event)">
      </chi-select>
    </mat-form-field>
  </div>
  <span
    *ngFor="let elem of elements"
    fxLayoutAlign="center center"
    style="
      border: 1.5px dotted rgb(0, 200, 200);
      border-radius: 2px;
      padding: 0.2em;
      margin: 0.3em;
    "
  >
    {{ elem }}
    <i
      style="cursor: pointer; color: red; transform: scale(0.8)"
      (click)="deleteValue(elem)"
      class="material-icons"
      >delete</i
    ></span
  >
</div>
