<form [formGroup]="theForm" fxLayout="row wrap" fxLayoutAlign="space-between">

  <mat-form-field fxFlex="30" appearance="outline">
      <mat-label>Status</mat-label>
      <input matInput type="text" formControlName="status"/>
  </mat-form-field>
      
  <mat-form-field fxFlex="30" appearance="outline">
      <mat-label>Remarks</mat-label>
      <input matInput type="text" formControlName="remarks"/>
  </mat-form-field>
      
  <chi-n2n-select fxFlex="30" [showAll]="true" [field]="inventories"></chi-n2n-select>

</form>