<div fxFlex="100" fxLayoutAlign="column" style="background-color: black">
  <button
    matInput
    fxFlex="30"
    [routerLink]="['/hello']"
    style="height: 50px; width: 80px"
    color="accent"
  >
    Hello
  </button>

  <button
    matInput
    fxFlex="30"
    [routerLink]="['/heroproject']"
    style="height: 50px; width: 80px"
    color="accent"
  >
    Heros
  </button>

  <button
    matInput
    fxFlex="30"
    [routerLink]="['/services2']"
    style="height: 50px; width: 120px"
    color="accent"
  >
    Basic Service2
  </button>

  <button
    matInput
    fxFlex="30"
    [routerLink]="['/dbinding']"
    style="height: 50px; width: 130px"
    color="accent"
  >
    Data Binding
  </button>
  <button
    matInput
    fxFlex="30"
    [routerLink]="['/data-transfer-observables']"
    style="height: 50px; width: 90px"
    color="accent"
  >
    Observables
  </button>
</div>
