<form [formGroup]="inventoryForm" fxFlex="100" fxLayout="column">
  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
    class="pl-32 pr-32"
  >
    <div fxFlex="50" fxLayoutAlign="start start">
      <mat-icon>file</mat-icon>
      <h2>Inventory - {{ basicForm ? "Basics" : "Advanced" }}</h2>
    </div>
    <div fxFlex="50" fxLayoutAlign="end center" fxLayoutGap="8px">
      <button
        mat-flat-button
        [color]="basicForm ? 'primary' : ''"
        (click)="basicForm = true"
      >
        Basic
      </button>
      <button
        mat-flat-button
        [color]="!basicForm ? 'primary' : ''"
        (click)="basicForm = false"
      >
        Advance
      </button>
      <mat-divider
        [vertical]="true"
        style="border-left: 1px solid #686868; height: 2em"
      ></mat-divider>
      <button mat-icon-button><mat-icon>autorenew</mat-icon></button>
      <button mat-icon-button>
        <mat-icon color="primary">zoom_out_map</mat-icon>
      </button>
    </div>
  </div>
  <div
    *ngIf="basicForm"
    class="inventory-form"
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="space-around"
  >
    <!-- Item Details -->
    <div fxFlex="25" class="container">
      <h3 fxLayoutAlign="start center" class="form-header">Items Details</h3>
      <div class="form-cont" fxLayout="row wrap">
        <mat-form-field
          class="inventory-field"
          fxFlex="100"
          appearance="outline"
        >
          <mat-label>Description</mat-label>
          <input matInput type="text" formControlName="description" />
        </mat-form-field>

        <mat-form-field
          class="inventory-field"
          fxFlex="100"
          appearance="outline"
        >
          <mat-label>Barcode</mat-label>
          <input matInput type="text" formControlName="barcode" />
        </mat-form-field>

        <mat-form-field
          class="inventory-field"
          fxFlex="100"
          appearance="outline"
        >
          <mat-label>Formula</mat-label>
          <input matInput type="text" formControlName="formula" />
        </mat-form-field>

      <mat-form-field
          class="inventory-field"
          fxFlex="100"
          appearance="outline"
        >
          <mat-label>Expiry date enabled</mat-label>
          <mat-select formControlName="expiry_date_enabled">
            <mat-option [value]="true">
              Yes
            </mat-option>
            <mat-option [value]="false">
              No
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          class="inventory-field"
          fxFlex="100"
          appearance="outline"
        >
          <chi-select [field]="manufacturer" (selected)="onForeignSelected($event)">
          </chi-select>
        </mat-form-field>

        <mat-form-field
          class="inventory-field"
          fxFlex="100"
          appearance="outline"
        >
          <mat-label>Maximum Level</mat-label>
          <input
            matInput
            type="number"
            min="0"
            formControlName="maximum_level"
            (keydown)="numbersOnly($event)"
          />
        </mat-form-field>

        <mat-form-field
          class="inventory-field"
          fxFlex="100"
          appearance="outline"
        >
          <mat-label>Minimum Level</mat-label>
          <input
            matInput
            type="number"
            min="0"
            formControlName="minimum_level"
            (keydown)="numbersOnly($event)"
          />
        </mat-form-field>

        <section
          fxFlex="100"
          fxLayout="row warp"
          fxLayoutAlign="space-between center"
        >
          <mat-checkbox fxFlex="30" formControlName="LASA">LASA</mat-checkbox>
          <mat-checkbox fxFlex="30" formControlName="narcotics"
            >Narcotics</mat-checkbox
          >
          <mat-checkbox fxFlex="30" formControlName="fridge_item"
            >Fridge Item</mat-checkbox
          >
        </section>
      </div>
    </div>

    <!-- Units_and Conversion -->
    <div class="container" fxFlex="25">
      <h3 fxLayoutAlign="start center" class="form-header">
        Units and conversion
      </h3>
      <div
        class="form-cont"
        fxLayout="row wrap"
        fxLayoutGap="10px"
      >
        <mat-form-field
          class="inventory-field"
          fxFlex="100"
          appearance="outline"
        >
        <chi-select [field]="purchasingUnit" (selected)="onForeignSelected($event)">
        </chi-select>
        </mat-form-field>

        <mat-form-field
          class="inventory-field"
          fxFlex="100"
          appearance="outline"
        >
        <chi-select [field]="storageUnit" (selected)="onForeignSelected($event)">
        </chi-select>
        </mat-form-field>

        <mat-form-field
          class="inventory-field"
          fxFlex="100"
          appearance="outline"
        >
        <chi-select [field]="sellingUnit" (selected)="onForeignSelected($event)">
        </chi-select>
        </mat-form-field>

        <mat-form-field
          class="inventory-field"
          fxFlex="100"
          appearance="outline"
        >
          <mat-label>Purchase to Storage</mat-label>
          <input matInput type="text" formControlName="purchase_to_storage" />
        </mat-form-field>

        <mat-form-field
          class="inventory-field"
          fxFlex="97"
          appearance="outline"
        >
          <mat-label>Storage to Selling</mat-label>
          <input matInput type="text" formControlName="storage_to_selling" />
        </mat-form-field>
       
      </div>
    </div>

    <!-- Price Details && Interactions -->
    <div class="container" fxFlex="25">
      <div fxLayout="row wrap">
        <div fxFlex="100">
          <h3 fxLayoutAlign="start center" class="form-header">Interactions</h3>
          <div
            class="form-cont"
            fxLayout="row wrap"
          >
          <chip-chi-select
          fxFlex="100"
          [field]="formulaField"
          [dataDict]="formulasConfig"
          (dataEmitter)="updateChipData($event)"
        ></chip-chi-select>
        </div>
        </div>
   
        <div fxFlex="100" fxLayoutAlign="end end" fxLayoutGap="10px">
          <button [disabled]="!inventoryForm.valid" mat-raised-button color="primary" (click)="onSave()">
            Save
          </button>
          <button mat-stroked-button color="primary" (click)="onClear()">
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!basicForm" fxLayout="column">
    <div fxFlex="100" >
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around">
        <div fxFlex="25" fxLayout="column">
          <chip-chi-select
          fxFlex="100"
          [field]="formulaField"
          [dataDict]="formulasConfig"
          (dataEmitter)="updateChipData($event)"
        ></chip-chi-select>
  
          <chip-chi-select
          fxFlex="100"
          [field]="formulaField"
          [dataDict]="formulasConfig"
          (dataEmitter)="updateChipData($event)"
        ></chip-chi-select>
  
          <mat-form-field
            class="inventory-field"
            fxFlex="100"
            appearance="outline"
          >
            <mat-label>Item Consumption</mat-label>
            <input matInput formControlName="item_consumption" />
          </mat-form-field>
        </div>
        <div fxFlex="25">
          <mat-form-field
            class="inventory-field"
            fxFlex="100"
            appearance="outline"
          >
            <mat-label>Remarks</mat-label>
            <textarea rows="5" matInput formControlName="remarks"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div  >
      <div fxFlex="90" fxLayoutAlign="end" fxLayoutGap="15px">
        <button (click) ="basicForm = true" mat-stroked-button  mat-button color="primary">
          Back
        </button>
        <button [disabled]="!inventoryForm.valid" mat-raised-button (click) ="onSave()" color="primary">
          Save
        </button>
        <button (click) ="onClear()" mat-stroked-button  mat-button color="primary">
          Clear
        </button>
      </div>
    </div>
  </div>
</form>
