.inventory-field .mat-form-field-wrapper {
  padding-bottom: 0.5em !important;
}

.inventory-form {
  // component-body
  .form-cont {
    margin-top: 1em;
  }
}

.form-header {
  background: #686868;
  border-radius: 0.25em;
  height: 2.25em;
  padding-left: 0.25em;
}

.prefix {
  height: 40px;
  background: #3295ce;
  position: absolute;
  left: -12px;
  top: -9px;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
