<mat-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && !rightNavbar"
                (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                <div class="logo ml-16">
                    <img class="logo-icon" src="assets/images/logo2x.png">
                </div>
            </div>

            <div class="px-8 px-md-16 logo-text">
                <div>Cognitive Healthcare International</div>
            </div>

            <div class="toolbar-separator"></div>
        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
        
            <!-- <div class="toolbar-separator"></div> -->
            <button mat-button [matMenuTriggerFor]="themeMenu" class="user-button">
                Select Theme
            </button>

            <mat-menu #themeMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item (click)="changeTheme('light')">
                    <mat-icon>account_circle</mat-icon>
                    <span>Light Theme</span>
                </button>

                <button mat-menu-item (click)="changeTheme('dark')">
                    <mat-icon>https</mat-icon>
                    <span>Dark Theme</span>
                </button>
            </mat-menu>

            <div class="toolbar-separator"></div>


            <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="avatar mr-0 mr-sm-16"
                        [src]="profile?.avatar ? profile?.avatar : '/assets/images/avatar.jpg'">
                    <span class="username mr-12" fxHide fxShow.gt-sm>{{profile?.full_name}}</span>
                    <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                </div>
            </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                <mat-divider></mat-divider>

                <button mat-menu-item (click)="onLogout($event)">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>

            </mat-menu>

            <div class="toolbar-separator"></div>
        </div>
    </div>
</mat-toolbar>