@import "scss/fuse";

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit !important;
        color: inherit !important;
        height: 50px;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 50px;
        height: 50px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 50px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .selected-clinic
    {
        margin: 0 10px;
    }
}

.loader
{
    margin-top: 5px;
}
.notification-badge{
    margin-right:5px;
    cursor: pointer;
}

.no-data
{
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}

.list
{
    min-width: 185px;
    max-height: 300px;
    overflow: auto !important;

    .list-item
    {
        min-width: 185px;
    
        &:hover
        {
            background-color: #6f6c6c;
            cursor: pointer;
        }
    }
}
