<div fxFlex="100" fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="90" fxLayout="column">
    <form [formGroup]="purchaseRequisitionForm" fxFlex="50" fxLayout="column">
      <!-- style = "background-color: teal" -->

      <!---------------- Top bar ----------------->
      <div fxFlex="20" fxLayoutAlign="space around">
        <!-- style = "background-color: thistle" -->

        <div fxFlex="50" fxLayoutAlign="start center">
          <button mat-icon-button><mat-icon>store</mat-icon></button>
          <h2 fxLayoutAlign="start center">Purchase Requisition</h2>
        </div>

        <div fxFlex="50" fxLayoutAlign="end center">
          <mat-divider
            [vertical]="true"
            style="border-left: 1px solid #686868; height: 2em"
          ></mat-divider>
          <button mat-icon-button><mat-icon>autorenew</mat-icon></button>
          <button mat-icon-button>
            <mat-icon color="primary">zoom_out_map</mat-icon>
          </button>
        </div>
      </div>

      <mat-divider
        [vertical]="false"
        style="border-left: 1px solid #686868;"
      ></mat-divider>

      <!-- Search bar ------------>

      <div fxFlex="10" fxLayoutAlign="end center">
        <mat-form-field
          class="inventory-field"
          fxFlex="20"
          appearance="outline"
        >
          <chi-select
            [field]="purchaseRequisition"
            (selected)="onForeignSelected($event)"
          >
          </chi-select>
        </mat-form-field>
      </div>

      <!-------------->

      <div fxFlex="25" fxLayout="column">
        <h2 fxFlex="100" class="form-header" fxLayoutAlign="centre center">
          New Purchase Requisition
        </h2>
      </div>

      <div fxFlex="20" fxLayout="column">
        <div fxFlex="30" fxLayout="row" fxLayoutAlign="space-around">
          <mat-form-field
            class="inventory-field"
            fxFlex="30"
            appearance="outline"
          >
            <mat-label>Document Category</mat-label>
            <mat-select formControlName="document_category">
              <mat-option [value]="true"> Yes </mat-option>
              <mat-option [value]="false"> No </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="30" appearance="outline">
            <mat-label>Date</mat-label>
            <chi-date-picker [field]="date"></chi-date-picker>
          </mat-form-field>

          <mat-form-field
            class="inventory-field"
            fxFlex="30"
            appearance="outline"
          >
            <mat-label>Remarks</mat-label>
            <textarea matInput formControlName="remarks"></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div fxFlex="100" fxLayoutAlign="center center" class="mt-8">
      <line-item fxFlex="100" [config]="purchaseRequistionItems"></line-item>
    </div>
    <div style="margin-top: 1em" fxFlex="90" fxLayoutAlign="end" fxLayoutGap="15px">
      <button [disabled]="!purchaseRequisitionForm.valid" mat-raised-button (click) ="onSave()" color="primary">
        Save
      </button>
      <button (click) ="onClear()" mat-stroked-button  mat-button color="primary">
        Clear
      </button>
    </div>
  </div>
</div>
