<div fxFlex = "100" fxLayout = "column" fxLayoutAlign = "space-around center">
    <div fxFlex = "20">
      <mat-card>
        <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
      </mat-card>
  </div>
  <div fxFlex = "20">
    <mat-card>
        <label> {{selectedDate}} </label>
      </mat-card>
  </div>
</div>