<div fxFlex="100" fxLayout="column">
  <div fxLayoutAlign="center">
    <h3 fxFlex="90" class="form-header"> Purchase Order</h3>
  </div>
  <div fxFlex="90" fxLayoutAlign="center">
    <div fxFlex="90" fxLayout="column">
      <form [formGroup]="theForm" fxLayout="row wrap" fxLayoutAlign="space-between">

        <mat-form-field fxFlex="30" appearance="outline">
            <mat-label>Status</mat-label>
            <input matInput type="text" formControlName="status"/>
        </mat-form-field>
            
        <mat-form-field fxFlex="30" appearance="outline">
            <mat-label>Remarks</mat-label>
            <input matInput type="text" formControlName="remarks"/>
        </mat-form-field>
            
        <mat-form-field fxFlex="30" appearance="outline">
            <mat-label>Supplier</mat-label>
            <chi-select [field]="supplierId"></chi-select>
        </mat-form-field>
            
        <mat-form-field fxFlex="30" appearance="outline">
            <mat-label>Supplier Quotation Number</mat-label>
            <input matInput type="text" formControlName="supplier_quotation_number"/>
        </mat-form-field>
            
            <mat-form-field fxFlex="30" appearance="outline">
                <mat-label>Supplier Quotation Date</mat-label>
                <chi-date-picker [field]="supplierQuotationDate"></chi-date-picker>
            </mat-form-field>
        <mat-form-field fxFlex="30" appearance="outline">
            <mat-label>Paymnet Mode</mat-label>
            <input matInput type="text" formControlName="payment_mode"/>
        </mat-form-field>
            
        <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Document Mode</mat-label>
                    <input matInput type="text" formControlName="document_mode"/>
                </mat-form-field>
        
                <mat-form-field fxFlex="30" appearance="outline">
            <mat-label>Purchase_Requisition</mat-label>
            <chi-select [field]="purchaseRequisitionId"></chi-select>
        </mat-form-field>
            
        <div fxFlex="100">
            <line-item fxFlex="100" [defaultEdit]="false" [config]="lineItemConfig" [data]="lineItemData"></line-item>
        </div>
      </form>
      <div fxFlex="10" fxLayout="row">
        <div fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="end center">
          <button mat-raised-button (click)="onSave()" color="primary">Save</button>
          <button mat-stroked-button (click)="onClear()" color="primary">Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>

