
<div fxFlex="100" fxLayout="column">
    <form [formGroup]="theForm"> 
        <mat-card fxLayout="column" fxFlex="100" style="height:100%">
            <mat-form-field class="units" fxFlex="100" appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput type="text" [formControl]="theForm.controls.description"/>
    
            </mat-form-field>
            <button (click)="onSave()" [disabled]= "!theForm.valid" >Save</button>
        </mat-card>
    </form>
</div>