<h2>My Heroes</h2>

<div>
  <label
    >Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value = ''">add</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
    <div>
      <span class="badge">{{ hero.id }}</span>
      <span [class.selected]="hero === selectedHero">{{ hero.name }}</span>
    </div>
    <button
      class="delete"
      title="delete hero"
      routerLink="/detail/{{ hero.id }}"
    >
      edit
    </button>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>Selected Hero: {{ selectedHero.name | uppercase }}</h2>
  <div><span>id: </span>{{ selectedHero.id }}</div>
  <div>
    <label
      >name:
      <input [(ngModel)]="selectedHero.name" placeholder="name" />
    </label>
  </div>
</div>
