<div fxFlex="100" fxFill fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="welcome-portion">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px"> 
            <span>Welcome</span>
            <span class="profile-name">{{profile?.full_name}}</span>
        </div>
    </div>
</div>
