<div fxFlex fxFill fxLayout="column">
    <form [formGroup]="cForm">
        <mat-card fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" [formControl]="cForm.controls.fname">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" [formControl]="cForm.controls.lname">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Age</mat-label>
                <input matInput type="number" [formControl]="cForm.controls.age">
            </mat-form-field>
        </mat-card>
        <div fxLayout="row" fxLayoutAlign="end end">
            <button mat-raised-button color="primary" (click)="onSave()" [disabled]="cForm.invalid">Save</button>
        </div>
    </form>
</div>