.item-table
{
    border-collapse: collapse;
    border: 2px solid #797272;
    width: inherit;
    max-width: inherit;

    .item-heading
    {
        background-color: #686868;
        font-size: 18px;
    }

    .heading-small
    {
        font-size: 16px !important;
    }

    .number-field-width
    {
        max-width: 65px;
    }

    td
    {
        padding: 4px;
        font-size: 16px;
        border: 2px solid #797272;
    }

    th, td
    {
        text-align: center;
    }
    
    .cell-small
    {
        font-size: 13px !important;
    }

    th
    {
        font-weight: 500;
    }

    .row-none-edit-mode
    {
        background-color: #434957;
    }

    .read-only-odd-row
    {
        background-color: #292D39;
    }

    .action-col
    {
        width: 100px;
    }
}

:host ::ng-deep .mat-form-field-wrapper
{
    padding-bottom: 0 !important;
}

.add-more-btn {
    background-color: white;
    color: black;
    margin-left: 60px;
    margin-top: 5px;
}
