<table fxFlex="100" class="item-table" >
    <thead class="item-heading" [class.heading-small]="readOnly">
        <tr>
            <th *ngFor="let field of getTitles()" [ngClass]="field.type == 'number' ? 'number-field-width' : ''">
                {{ field.title }}
                <sub>{{field.subText}}</sub>
            </th>
            <th *ngIf="!readOnly && !enableSelection">
                <mat-icon class="add-more-btn" style="cursor: pointer;" (click)="onAddItem()" title="Add Item">add
                </mat-icon>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="
        let rec of internalConfig.items;
        let i = index;
        let last = last;
        let odd = odd
      " [class.row-none-edit-mode]="!rec.editing">

            <ng-container *ngIf="enableSelection">
                <td class="action-col">
                    <mat-checkbox [(ngModel)]="rec.selected" (change)="onRowCheckChange($event, rec)"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container *ngIf="!rec.deleted">
                <td *ngFor="let field of rec.fields" [class.number-field-width]="field.type == 'number'"
                    [class.cell-small]="readOnly" [class.read-only-odd-row]="readOnly && odd">
                    <mat-label *ngIf="readOnly || !rec.editing || field.readOnlyInSelection">
                        <ng-container *ngIf="field.field != 'foreign'; else foreignValue">
                            <ng-container *ngIf="field.field == 'checkbox'; else otherValue">
                                {{ field.value ? "Yes" : "No" }} {{field.readOnlyInSelection}}
                            </ng-container>
                            <ng-template #otherValue>
                                {{ field.value }}
                            </ng-template>
                        </ng-container>
                        <ng-template #foreignValue>
                            {{ field.displayValue }}
                        </ng-template>
                    </mat-label>

                    <ng-container *ngIf="!readOnly && rec.editing && !field.readOnlyInSelection"
                        [ngSwitch]="field.field">

                        <ng-container *ngSwitchCase="'autocomplete'">
                            <div fxLayout="column">
                                <mat-form-field appearance="outline" *ngIf="rec.editing">
                                    <!-- <chi-auto-complete [field]="field.options"
                                        (selected)="onAutoCompleteSelection($event, field)">
                                    </chi-auto-complete> -->
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'label'">
                            <div fxLayout="column">
                                <mat-form-field appearance="outline" *ngIf="rec.editing">
                                    <input [type]="field.type" readonly matInput [value]="field.value"
                                        autocomplete="off" />
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'input'">
                            <div fxLayout="column">
                                <mat-form-field appearance="outline" *ngIf="rec.editing">
                                    <input [type]="field.type" (keydown)="field.type == 'number'
                                                                            ? integerOnly($event)
                                                                            : field.validate == 'alpha'
                                                                            ? alphaOnly($event, field)
                                                                            : true
                                                                        " [min]="field.min" [max]="field.max"
                                        [step]="field.step || 1" matInput [(ngModel)]="field.value"
                                        (change)="modelChange($event, field, rec)" autocomplete="off" />
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'checkbox'">
                            <div fxLayout="column">
                                <mat-checkbox *ngIf="rec.editing" (change)="modelChange($event, field, rec)"
                                    [value]="field.value" [(ngModel)]="field.value">
                                    <span *ngIf="!field.label_hidden">{{ field.title }}</span>
                                </mat-checkbox>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'select'">
                            <div fxLayout="column">
                                <mat-form-field appearance="outline" *ngIf="rec.editing">
                                    <mat-select [(ngModel)]="field.value" (change)="modelChange($event, field, rec)">
                                        <mat-option *ngFor="let opt of field.options" [value]="opt.key">
                                            {{ opt.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'foreign'">
                            <div fxLayout="column">
                                <mat-form-field appearance="outline" *ngIf="rec.editing">
                                    <chi-select [field]="field.options"
                                        (selected)="onForeignChange($event, field, rec)">
                                    </chi-select>
                                    <mat-error *ngIf="field.options.formControl.invalid"></mat-error>
                                </mat-form-field>
                            </div>
                        </ng-container>

                    </ng-container>
                </td>

                <td class="action-col" *ngIf="!readOnly && !enableSelection">
                    <div fxLayout="row" fxLayoutGap="4px">
                        <mat-icon style="cursor: pointer; color: #ff5656;" (click)="onDeleteItem(rec)" title="Delete">
                            delete</mat-icon>
                        <mat-icon style="cursor: pointer;" (click)="onEdit(rec)" title="Edit" *ngIf="!rec.editing">
                            edit
                        </mat-icon>
                        <mat-icon style="cursor: pointer;" (click)="onOk(rec)" title="Done" *ngIf="rec.editing">done
                        </mat-icon>
                        <!-- <mat-icon style="cursor: pointer;" (click)="onAddItem()" title="Add More" *ngIf="last">add</mat-icon> -->
                    </div>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>