<div fxFlex fxFill fxLayout="column" fxLayoutAlign="space-around none">
  <sample-form
    fxFlex="50"
    (personAdded1)="onPersonAdd($event)"
    [selectedPerson]="personElement"
  ></sample-form>

  <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row">
      <label>First Name: {{ personElement.first_name }}</label>
    </div>
    <div fxLayout="row">
      <label>Last Name: {{ personElement.last_name }}</label>
    </div>
    <div fxLayout="row">
      <label>Age: {{ personElement.age }}</label>
    </div>
  </div>
</div>

<button
  style="width: 400px !important"
  mat-raised-button
  color="primary"
  (click)="onChangeName()"
></button>
