
@import "scss/core";
@import "charms-lib/charms-lib.theme";
@import "app/theme/app.theme";


.col-small-image {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;

    object-fit: cover;
    object-position: top;
}

.call-button
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.call-button:hover {
    box-shadow: inset 0  0 0px 2px blue;
}

.call-button-glass{
    background-color: transparent;
    position: absolute;
}