<p>invoice works! {{ myname }}</p>

<table style="width: 100%">
  <tr>
    <th>index</th>
    <th>customerid</th>
    <th>Invoice ID</th>
    <th>Amount</th>
  </tr>

  <tr *ngFor="let d of tableData.data">
    <td>{{ d.amount }}</td>
    <td>cust['name']</td>
    <td>inv['invno']</td>
    <td>inv['amount']</td>
  </tr>
</table>
