<div fxFlexFill fxLayout="column" fxLayoutAlign="space-around none">
  <sample-form
    fxFlex="30"
    (personAdded1)="onPersonAdded2($event)"
  ></sample-form>

  <mat-table fxFlex="50" [dataSource]="dsPersons" class="mat-elevation-z8">
    <ng-container matColumnDef="first_name">
      <th fxFlex="30" style="font-size: 2em" mat-header-cell *matHeaderCellDef>
        First Name
      </th>
      <td fxFlex="30" style="font-size: 2em" mat-cell *matCellDef="let person">
        {{ person.first_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="last_name">
      <th fxFlex="30" style="font-size: 2em" mat-header-cell *matHeaderCellDef>
        Last Name
      </th>
      <td fxFlex="30" style="font-size: 2em" mat-cell *matCellDef="let person">
        {{ person.last_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th fxFlex="30" style="font-size: 2em" mat-header-cell *matHeaderCellDef>
        Age
      </th>
      <td fxFlex="30" style="font-size: 2em" mat-cell *matCellDef="let person">
        {{ person.age }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="dcPersons"></tr>
    <tr mat-row *matRowDef="let row; columns: dcPersons"></tr>
  </mat-table>

  <!-- <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row">
            <label>First Name:  {{personElement.first_name}}</label>
        </div>
        <div fxLayout="row">
            <label>Last Name:   {{personElement.last_name}}</label>
        </div>
        <div fxLayout="row">
            <label>Age:   {{personElement.age}}</label>
        </div>
    </div> -->
</div>
