.form-header {
    background: #686868;
    border-radius: 0.25em;
    height: 2.30em;
    padding-left: 0.25em;
    text-align : left;
    // font-size: 17px;
  }

  .example-margin {
    margin: 0 10px;
  }