    <mat-form-field fxFlex="100" appearance="outline">
        <chi-file-picker [field]="document" (selected) = "OnFileSelected($event, document)">
        </chi-file-picker>               
    </mat-form-field>



      
    <ngx-dropzone (change)="onSelect($event)" fxFlex="100">
        <ngx-dropzone-label><b>Click/Drag your file (singular) here to uplaod</b></ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" (selected) = "OnFileUpload($event)" [removable]="true"  (success)="onUploadSuccess($event)" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
    </ngx-dropzone>