.list
{
    min-width: 185px;
    // max-height: 300px;
    // overflow-y: scroll;

    .list-item
    {
        min-width: 185px;
    
        &:hover
        {
            background-color: #6f6c6c;
            cursor: pointer;
        }
    }
}

.no-data
{
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}