<div style="position: relative;">

    <input matInput
        [disabled]="field.disable"
        [required]="field.required"
        [placeholder]="field.placeholder"
        [matMenuTriggerFor]="autoCompleteList"
        autocomplete="off"
        (menuOpened)="onMenuOpen()"
        [formControl]="field.formControl"
    >

    <mat-menu #autoCompleteList="matMenu">    
        <mat-list class="list">
            <mat-list-item class="list-item" *ngFor="let rec of data" (click)="onSelect(rec)">
                {{rec.service_name}}
            </mat-list-item>
        </mat-list>

        <div fxFlex="100" fxLayoutAlign="center">
            <div class="no-data" *ngIf="data && data.length == 0">No Record Found.</div>
        </div>

        <div fxFlex="100" fxLayoutAlign="center">
            <mat-spinner *ngIf="loading" color="primary" diameter="20" strokeWidth="3"></mat-spinner>
        </div>
    </mat-menu>
</div>