.channel-container {
    position: relative;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: #000;
    // background-color: #eeeeee;
}

.buf-ind {    
    font-size: 14px;
    z-index: 200;
    position: absolute;
    top: -22px;
    right: 0px;
    color: white;
    font-weight: bold;    
}

.buf-y-label {    
    font-size: 14px;
    z-index: 200;
    position: absolute;
    top: -22px;
    right: 50%;
    color: white;
    font-weight: bold;    
}

.buf-x-label 
{
    font-size: 14px;
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 0px;
    color: white;
    font-weight: bold;
}