<!-- <div [style.height.px]="graphHeight" style="margin: 0 0 20px 40px"> -->
<div #chart class="channel-container" [style.height.px]="channel.height" style="position: relative;">
    <div class="buf-ind">{{ getDelay() }} (sec) <!-- <p style="color:red" *ngIf="lastBufferSize > 0.5 * channel.sampleRate">Speeding Up</p> --> <!--<p style="color:red" *ngIf="lastBufferSize < 10"> Buffer size decreased to 10</p>--></div>
    <!-- <div class="buf-y-label">Label</div>
    <div class="buf-x-label">Label</div> -->
</div>
<!-- </div> -->
