<div fxFlex fxFill fxLayout="column">
    <sample-form-3
    fxFlex="30"
    ></sample-form-3>

    <table
    fxFlex="50"
    mat-table
    [dataSource]="dsPersons"
    class="mat-elevation-z8">
        <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let person"> {{person.first_name}} </td>
        </ng-container>
        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let person"> {{person.last_name}} </td>
        </ng-container>
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let person"> {{person.age}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="dcPersons"></tr>
        <tr mat-row *matRowDef="let row; columns: dcPersons;"></tr>
    </table>

    <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row">
            <label>First Name:  {{personElement.first_name}}</label>
        </div>
        <div fxLayout="row">
            <label>Last Name:   {{personElement.last_name}}</label>
        </div>
        <div fxLayout="row">
            <label>Age:   {{personElement.age}}</label>
        </div>
    </div>
</div>
