<!doctype html>
<html>

<head>
    <meta charset=utf-8>
    <title>CHI | Error</title>
    <meta name=viewport content=width=device-width,initial-scale=1>
    <link rel="icon" type="image/x-icon" href="{{ static_url('images/favicon.png') }}">
</head>
<body style="width: 98% !important; height: 90vh; flex-direction: column; background: #f8f8f8; justify-content: center; display: flex; align-items: center;">
<table style="width: 100% !important; height: 100%; flex-direction: column; background: #f8f8f8; justify-content: center; display: flex; align-items: center;">
    <tr>
        <td style="text-align: center; display: block !important; clear: both !important; margin: auto !important; max-width: 580px !important;">
            <img src="{{ static_url('images/logo2x.png') }}"
                 style="box-shadow: 1px 1px 10px 0 #cacaca; margin-bottom: 24px; height: 120px; width: 120px; margin-top: -100px; border-radius: 100px;">
        </td>

        <td style="display: block !important; clear: both !important; margin: 0 auto !important; max-width: 580px !important;">

            <table style="width: 100% !important; border-collapse: collapse;">
                <tr>
                    <td align="center">

                        <h3 style="margin: 0 auto !important;  max-width: 90%; text-transform: uppercase;">{{ Code }} </h3>

                    </td>
                </tr>

                <tr>
                    <td align="center">

                        <h1 style="margin: 0 auto !important;  max-width: 90%; text-transform: uppercase;">{{ Title }} </h1>

                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 35px;">

                        <p style="text-align: center;">{{ Message }}</p>

                        <table style="margin-left: auto; margin-right: auto;">
                            <tr>
                                <td align="center">
                                    <p>
                                        <a href=/ style="text-decoration: none;
                                                display: inline-block;
                                                color: white;
                                                background: #71bc37;
                                                border: solid #71bc37;
                                                border-width: 10px 20px 8px;
                                                font-weight: bold;
                                                border-radius: 4px;">Back</a>
                                    </p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>