<!doctype html>
<html lang="en">
<head>
    <title>CHI | Epic POC</title>
    <base href="/">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="{{ static_url('images/favicon.png') }}">
    <link href="{{ static_url('css/splash.css') }}" rel=stylesheet>
    <link href="{{ static_url('apps/portal/styles.css') }}" rel=stylesheet>

    <!-- Calls Related -->
    <!--    <link href="{{static_url('css/we-care.css')}}" rel=stylesheet>-->

</head>

<body class="theme-default">
<rv-splash-screen id="rv-splash-screen">
    <div class="center">
        <div class="logo">
            <img width="240" src="{{ static_url('images/logo2x.png') }}">
        </div>
        <div class="spinner-wrapper">
            <div class="spinner">
                <div class="inner">
                    <div class="gap"></div>
                    <div class="left">
                        <div class="half-circle"></div>
                    </div>
                    <div class="right">
                        <div class="half-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</rv-splash-screen>

<app-root></app-root>


<script type="text/javascript" src="{{ static_url('apps/portal/runtime.js') }}"></script>
<script type="text/javascript" src="{{ static_url('apps/portal/polyfills.js') }}"></script>
<script type="text/javascript" src="{{ static_url('apps/portal/scripts.js') }}"></script>
<script type="text/javascript" src="{{ static_url('apps/portal/main.js') }}"></script>

</body>
</html>
