.general-page {
    display: flex;
    height: calc(100% - 30px);
    padding: 10px;

    .table-card {
        flex: 0 0 70%;
        margin-right: 20px;
        height: 100%;
        padding: 10px;
    }

    .form-card {
        flex: 0 0 26%;
        height: 100%;
        padding: 10px;
    }
}