<div class="general-page">
  <mat-card class="table-card">
    <app-general-table [config]="config.tableConfig"> </app-general-table>
  </mat-card>

  <mat-card class="form-card">
    <app-general-form [config]="config.formConfig"> </app-general-form>
  </mat-card>
</div>
