<div class="container">
  <div class="table-main-header">
    <h1>{{ config.title }}</h1>
    <mat-form-field style="width: 30%; margin-left: 50px">
      <mat-label>Filter</mat-label>
      <input
        matInput
        placeholder="Filter Data"
        [formControl]="filterFormControl"
      />
    </mat-form-field>
  </div>

  <div class="table">
    <div>
      <table
        #tablex
        mat-table
        [dataSource]="ds"
        matSort
        (matSortChange)="onSortChange($event)"
      >
        <ng-container *ngFor="let col of config.columns">
          <ng-container [matColumnDef]="col.name">
            <ng-container *ngIf="col.sortable; else nonSortableHeader">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ col.title }}
              </th>
            </ng-container>

            <ng-template #nonSortableHeader>
              <th mat-header-cell *matHeaderCellDef>{{ col.title }}</th>
            </ng-template>

            <td mat-cell *matCellDef="let row">{{ cellValue(row, col) }}</td>
          </ng-container>
        </ng-container>

        <ng-container matColumnDef="error">
          <td mat-cell *matCellDef="let row" colspan="100%">
            <div>{{ row.title }}</div>
            <p *ngIf="row.message">{{ row.message }}</p>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: ['error']; when: showError"
        ></tr>
      </table>
    </div>
  </div>

  <mat-paginator
    class="paginator"
    [pageSize]="5"
    [pageSizeOptions]="pageSizeOptions"
    [length]="totalRecords"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
