.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .table-main-header {
        display: flex;
        align-items: center;
    }

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
    
    .table {  
        overflow: auto; 
        height: 100%; 
        flex: 1;
        color: gray;
        border: 1px solid #eee;

        table {
            width: 100%;

            tr.mat-header-row {
                height: 50px !important;
                background-color: #6c7ae0;
                border-radius: 4px;

                th {
                    color: #fff;
                }
            }

            tr.mat-row:nth-child(even) {
                background-color: #f8f6ff;
            }
        }
    }

    .paginator {
        height: 50px;
        background-color: #e0e0e0;
        border-radius: 4px;
    }
}