<div class="chi-search">
    <div id="search-container" [@searchContainerState]="
        interactedWithSearch ? 'expanded' : 'collapsed'
      ">
      <button *ngIf="!interactedWithSearch" mat-icon-button (click)="toggleSearch()">
        <mat-icon>search</mat-icon>
      </button>

      <mat-form-field fxFlex="80" appearance="outline">
        <div fxLayout="row" fxLayoutAlign="start center" style="height: 20px;">
          <mat-icon>search</mat-icon>&nbsp;
          <input fxFlex matInput name="general-table-search" [formControl]="searchControl" placeholder="Search..."
            (keyup.enter)="onSearchData()" type="text" autocomplete="off" />

          <mat-icon matSuffix (click)="toggleSearch()">close</mat-icon>
        </div>
      </mat-form-field>
    </div>
  </div>