.chi-search {
  #search-container {
    width: 40px;
    overflow: hidden;
    align-items: center;
    transition: width 0.5s ease;

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0 !important;

      > .mat-form-field-flex {
        > .mat-form-field-infix {
          padding: 0 !important;
          margin-bottom: 4px !important;
          margin-top: -4px !important;
        }

        > .mat-form-field-suffix {
          top: 0.5em !important;
        }
      }
    }
  }
}
