<mat-form-field class="demo-chip-list">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let mInput of input"
        [selectable]="selectable"
        [removable]="removable"
        color = "primary"
        (removed)="remove(mInput)">
        {{mInput}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New Science/Math guy..."
        #userInput
        [formControl]="ctrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let mInput of filteredIput | async" [value]="mInput">
        {{ mInput }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  