<div fxFlex="100" fxFill fxLayout="column">
    <mat-card style="height:100%;">
        <chi-general-table fxFlex [config]="config" (signals)="onTableSignal($event)"></chi-general-table>
    </mat-card>
</div>