<div fxLayout="column" fxLayoutGap="8px" style="height: 100%;" [ngClass]="(inDialog) ? 'chi-dialog' : ''">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" [ngClass]="(inDialog) ? 'chi-dialog-title' : ''">
        <h1 fxFlex>{{title}}</h1>
        <button type="button" mat-icon-button (click)="onCancel()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-divider fxFlex="100" [inset]="true"></mat-divider>
    </div>

    <div fxFill fxFlex style="overflow: hidden;">
        <div fxLayout="row wrap"
                fxLayoutAlign="space-between start"
                fusePerfectScrollbar
               
                style="height: 100%; padding: 0 16px; overflow: auto;">
                <!-- [fusePerfectScrollbarOptions]="psOptions" -->
            
                <mat-form-field fxFlex="92" appearance="outline">
                    <mat-label>Allergy</mat-label>
                    <input matInput
                            type="text"
                            autocomplete="off"
                            required
                            [formControl]="theForm.controls.manufacturer_name"
                            placeholder="Manufacturer">
                    <!-- <mat-error *ngIf="theForm.controls.allergy.hasError('required')">Allergy is required</mat-error> -->

                    <!-- (click)="doTranslation('allergy', theForm.controls.allergy.value)" -->
                   
                </mat-form-field>
        </div>
    </div>

    <div fxLayout="column" [ngClass]="(inDialog) ? 'chi-dialog-actions' : ''" fxLayoutAlign="center end">
        <mat-divider [inset]="true"></mat-divider>
        <div fxLayout="row"
                fxLayoutAlign="end center"
                fxLayoutGap="16px"
                style="padding: 8px 16px;">

            <button *ngIf="!inDialog" type="submit"
                    mat-raised-button
                    color="primary"
                    (click)="onSaveAndNew()"
                    [disabled]="!theForm.dirty || !theForm.valid || disableSaveBtn">
                <span>Save &amp; New</span>
            </button>
            <button type="button"
                    mat-raised-button style="height: 35px;"
                    [ngClass]="(inDialog) ? 'green-bg' : ''"
                    [color]="(inDialog) ? '' : 'primary'"
                    [ngStyle]="{'color': inDialog ? 'white' : ''}"
                    (click)="onSave()"
                    [disabled]="!theForm.dirty || !theForm.valid || disableSaveBtn">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <span>Save</span>
                    <mat-progress-spinner 
                        *ngIf="disableSaveBtn"
                        diameter="20"
                        strokeWidth="3"
                        class="btn-spinner"
                        color="accent"
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div>
            </button>
        </div>
    </div>
    <div *ngIf="!inDialog"></div>
    <div *ngIf="!inDialog"></div>
    <div *ngIf="!inDialog"></div>
</div>