
<form [formGroup]="inventoryForm">
    <mat-form-field appearance="outline" style="height: 50px; margin-right: 10px;">
        <mat-label>Manufacturers</mat-label>
        <chi-select [field]="manufacturer" (selected)="onForeignSelected($event)">
        </chi-select>
    </mat-form-field>
</form>