<div fxFlex = "100" fxLayout= "column">
  <div fxFlex = "50" fxLayout= "column">
    <!-- style = "background-color: teal" -->

    <!---------------- Top bar ----------------->
      <div fxFlex = "20" fxLayoutAlign="space around" >
        <!-- style = "background-color: thistle" -->

        <div fxFlex = "50" fxLayoutAlign="start center">
            <button mat-icon-button><mat-icon>store</mat-icon></button>
            <h2 fxLayoutAlign="start center">Purchase Order</h2>
        </div>
        
        <div fxFlex = "50" fxLayoutAlign="end center">
          <mat-divider
            [vertical]="true"
            style="border-left: 1px solid #686868; height: 2em"></mat-divider>
            <button mat-icon-button><mat-icon>autorenew</mat-icon></button>
            <button mat-icon-button><mat-icon color="primary">zoom_out_map</mat-icon>
            </button>
        </div>

      </div>

      <mat-divider
        [vertical]="false"  
        style="border-left: 1px solid #686868"
          ></mat-divider>

        <!-------------->

      <div fxFlex = "25" fxLayout= "column">
        <h2 fxFlex="100" class="form-header" 
           fxLayoutAlign = "centre center">New Purchase Order</h2>
      </div>


    <!-- <form [formGroup]="PurchaseOrderForm"> -->

      <form [formGroup]="PurchaseOrderForm" fxLayout= "column" fxFlex = "50" fxLayout= "row" fxLayoutAlign = "space-around">
          <div fxLayout= "column" fxFlex = "30" fxLayoutAlign = "start" fxLayoutGap = "0em"> 
                <mat-form-field
                class="inventory-field"
                fxFlex="50"
                appearance="outline"
                >
                <mat-label>Document Category</mat-label>
                  <mat-select formControlName="document_category">
                    <mat-option [value]="true">
                      Yes
                    </mat-option>
                    <mat-option [value]="false">
                      No
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field
                class="inventory-field"
                fxFlex="50"
                appearance="outline"
                >
                <mat-label>Document Mode</mat-label>
                  <mat-select formControlName="document_mode">
                    <mat-option [value]="true">
                      Yes
                    </mat-option>
                    <mat-option [value]="false">
                      No
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <section class="example-section">
                  <mat-checkbox class="example-margin">Add all supplier medicine</mat-checkbox>
                </section>
          </div>

          <div fxLayout= "column" fxFlex = "30" fxLayoutAlign = "start" fxLayoutGap = "0.5em"> 
             
            <mat-form-field fxFlex="30" appearance="outline">
                  <mat-label>Date</mat-label>
                  <chi-date-picker [field]="date"></chi-date-picker>
                </mat-form-field>

                <mat-form-field
                fxFlex="30"
                appearance="outline"
                >
                <mat-label>Remarks</mat-label>
                <textarea matInput formControlName="remarks"></textarea>
              </mat-form-field>          
          </div>

          <div fxLayout= "column" fxFlex = "30" fxLayoutAlign = "space-around">

            <mat-form-field appearance="outline" fxFlex="30">
            <mat-label>Supplier</mat-label>
              <input matInput formControlName="supplier">
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Payment Mode</mat-label>
                <mat-select formControlName="payment_mode">
                  <mat-option [value]="true">
                    Yes
                  </mat-option>
                  <mat-option [value]="false">
                    No
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
              fxFlex="30"
              appearance="outline"
              >
              <mat-label>Supplier Quotation Number</mat-label>
              <input matInput formControlName="supplier_quotation_number">
              </mat-form-field>

              <mat-form-field fxFlex="30" appearance="outline">
                <mat-label>Supplier Quotation Date</mat-label>
                <chi-date-picker [field]="supplier_quotation_date"></chi-date-picker>
                </mat-form-field>
           
          </div>
         
    <!-- </div> -->
    </form>
</div> 


