
<form [formGroup]="theForm">

    <div fxFlex="100">
        <multi-selector
            title="Select Resultable"
            itemInRows=3
            [selectedRecordIds]="manufacturerIds"
            [ids]="idsArr"
            [showDivider]="false"
            [showSearch]="true"
            (signals)="onMultiSelectionSignals($event)">
        </multi-selector>
    </div>

    <!-- <mat-form-field appearance="outline" style="height: 50px; margin-right: 10px;">
        <mat-label>Manufacturers</mat-label>
        <chi-select [field]="manufacturer" (selected)="onForeignSelected($event)">
        </chi-select>
    </mat-form-field> -->
</form>